In [1]:
import numpy as np
from IPython.display import display
import pandas as pd

In [3]:
df = pd.read_csv("mobile2.csv")
display(df.info())
display(df.describe().transpose())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer Name       35 non-null     object
 1   Phone Number        35 non-null     object
 2   Talked              35 non-null     int64
 3   Internet            35 non-null     int64
 4   Start Subscription  35 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

None

          count        mean         std   min    25%    50%    75%    max
Talked     35.0  312.371429  190.701042  24.0  164.0  324.0  477.5  670.0
Internet   35.0  552.028571  274.154903  91.0  372.0  579.0  806.0  944.0

In [33]:
df['First Name'] = df['Customer Name'].apply(lambda x: x.split()[0])
print(df)

      Customer Name Phone Number  Talked  Internet Start Subscription  \
0   Cynthia Wong MD  050-5380527     231       944         14/09/2022
1         Chad Reed  053-5250617     166       217         28/11/2022
2      James Murphy  051-7292166     483       437         06/04/2021
3         John Dean  054-2952436     435       817         06/01/2021
4      Nancy Bright  052-8402824     208       770         10/10/2022
5      Melinda Ruiz  051-3102790     434       903         23/02/2022
6     Kristin Huber  054-8068151     499       592         18/01/2023
7       Jesus Burke  052-8352627      48       467         19/10/2020
8   Joanna Buchanan  051-3167949     342       919         17/12/2023
9   Christian Lewis  052-3069795     277       740         11/04/2023
10     Amanda Meyer  050-8200916     355       390         03/02/2023
11   Aaron Melendez  050-8270179     553       871         29/01/2023
12    Sierra Morgan  054-6460585     590       614         17/04/2023
13    Timothy Frost  050-5915117     324       429         28/02/2020
14        Keith Lee  052-7653726     256       795         28/10/2022
15   Evelyn Elliott  051-6233404     369       705         17/10/2022
16      Chad Carter  053-9294578      25       350         06/10/2020
17    Matthew Mills  052-7974129     670       571         08/07/2022
18    Jeffrey Hicks  050-8469039     250        99         07/05/2022
19    Janice Palmer  051-8678768     472       105         04/10/2021
20      Diana Scott  051-8932363     134       519         26/04/2021
21      Lacey Henry  051-7222641      58       104         20/06/2023
22    Angela Waters  054-5779698     553       201         19/10/2020
23    Lisa Alvarado  052-1692691     162       389         28/07/2021
24  Jessica Pittman  053-9160566     170       899         23/03/2023
25     Ryan Aguirre  050-4964995     520       372         07/11/2023
26     Alison Moore  050-6467180     105       579         29/11/2020
27     Sarah Martin  051-6973566      24        91         12/04/2023
28  Gregory Stevens  052-7378700      30       858         09/08/2022
29  Jennifer Zavala  053-8258482     591       202         29/06/2020
30     Ryan Aguirre  050-4964995     520       372         07/11/2023
31        John Dean  054-2952436     435       817         06/01/2021
32   Evelyn Elliott  051-6233404     369       705         17/10/2022
33     Alison Moore  050-6467180     105       579         29/11/2020
34  Jessica Pittman  053-9160566     170       899         23/03/2023

   First name First Name    Carrier User Type User Type Vec
0     Cynthia    Cynthia  Pelephone    surfer        surfer
1        Chad       Chad   Motorola    surfer        surfer
2       James      James      Golan    talker        talker
3        John       John    Partner    surfer        surfer
4       Nancy      Nancy    Cellcom    surfer        surfer
5     Melinda    Melinda      Golan    surfer        surfer
6     Kristin    Kristin    Partner    surfer        surfer
7       Jesus      Jesus    Cellcom    surfer        surfer
8      Joanna     Joanna      Golan    surfer        surfer
9   Christian  Christian    Cellcom    surfer        surfer
10     Amanda     Amanda  Pelephone    surfer        surfer
11      Aaron      Aaron  Pelephone    surfer        surfer
12     Sierra     Sierra    Partner    surfer        surfer
13    Timothy    Timothy  Pelephone    surfer        surfer
14      Keith      Keith    Cellcom    surfer        surfer
15     Evelyn     Evelyn      Golan    surfer        surfer
16       Chad       Chad   Motorola    surfer        surfer
17    Matthew    Matthew    Cellcom    talker        talker
18    Jeffrey    Jeffrey  Pelephone    talker        talker
19     Janice     Janice      Golan    talker        talker
20      Diana      Diana      Golan    surfer        surfer
21      Lacey      Lacey      Golan    surfer        surfer
22     Angela     Angela    Partner    talker        talker
23       Lisa       Lisa    Cellcom    surfer        surfer
24    Jessica    Jessica   Motorola    surfer        surfer
25       Ryan       Ryan  Pelephone    talker        talker
26     Alison     Alison  Pelephone    surfer        surfer
27      Sarah      Sarah      Golan    surfer        surfer
28    Gregory    Gregory    Cellcom    surfer        surfer
29   Jennifer   Jennifer   Motorola    talker        talker
30       Ryan       Ryan  Pelephone    talker        talker
31       John       John    Partner    surfer        surfer
32     Evelyn     Evelyn      Golan    surfer        surfer
33     Alison     Alison  Pelephone    surfer        surfer
34    Jessica    Jessica   Motorola    surfer        surfer

In [37]:
carrier_dict = {'050': 'Pelephone', '051': 'Golan', '052': 'Cellcom', '053': 'Motorola', '054': 'Partner'}
df['Carrier'] = df['Phone Number'].str[:3].replace(carrier_dict)
print("Carrier Counts:", carrier_counts)

Carrier Counts:
 Carrier
Pelephone    9
Golan        9
Cellcom      7
Motorola     5
Partner      5
Name: count, dtype: int64

In [41]:
carrier_counts = df['Carrier'].value_counts()
unique_carriers = df['Carrier'].unique()
num_unique_carriers = df['Carrier'].nunique()
print("Unique Carriers:", unique_carriers)

Unique Carriers: ['Pelephone' 'Motorola' 'Golan' 'Partner' 'Cellcom']

In [23]:
df['User Type'] = df.apply(lambda row: 'talker' if row['Talked'] > row['Internet'] else 'surfer', axis=1)
df['User Type Vec'] = np.where(df['Talked'] > df['Internet'], 'talker', 'surfer')
print("\nNumber of Unique Carriers:", num_unique_carriers)

In [25]:
df_sorted_talk = df.sort_values(by='Talked')
df_sorted_total = df.sort_values(by=['Talked', 'Internet'])

In [27]:
top_5_talkers = df.nlargest(5, 'Talked')
bottom_3_surfers = df.nsmallest(3, 'Internet')
print("\nTop 5 Talkers:\n", top_5_talkers)
print("\nBottom 3 Surfers:\n", bottom_3_surfers)

In [29]:
duplicate_records = df[df.duplicated()]
df_no_duplicates = df.drop_duplicates()

In [31]:
sampled_subscribers = df.sample(3)[['First Name', 'Phone Number']]